html {  scroll-behavior: smooth; }
        * { margin: 0px auto; padding: 0px; box-sizing: border-box; position: relative; user-select: none; }
        a { text-decoration: none; }
        ul, li { list-style: none; }
        body { width: 100vw; height: 100vh; overflow-x: hidden; }

        
        ::-webkit-scrollbar { width: 0px; }

        /* border: 1px solid #999999; */
        .container { width: 1440px; }
        header { height: 80px; position: fixed; z-index: 999; padding: 10px 10px 10px 10px; color: white; }
            .logo_box { width: 200px; height: 100%; float: left; display: flex; justify-content: start; align-items: center; }
                .logo_box > svg { margin: 0px; opacity: .8; transition: .3s; }
                .logo_box > svg:hover { opacity: 1; cursor: pointer; }

            nav { width: 600px; height: 100%; display: flex; float: right; font-weight: bold; }
            nav > li { width: calc(100% / 5); height: 100%; display: flex; justify-content: center; align-items: center; }
                .nav_item { text-align: center; opacity: .5; transition: .3s; transform-origin: center; border-bottom: 2px solid rgba(0, 128, 0, 0); user-select: none; }
                .nav_item:hover { opacity: 1; cursor: pointer; font-weight: bold; border-bottom: 2px solid rgb(27, 118, 27); }


        .content { width: 100%; height: 100vh; overflow: hidden; }
            .content_background { width: 100%; height: 100%; position: absolute; background-size: cover; background-position: center bottom; z-index: 0; opacity: 0; transition: 1s; filter: brightness(.5); }
            .content_background:nth-child(1) { background-image: url(../img/forest-438432_1920.jpg); opacity: 1; }
            .content_background:nth-child(2) { background-image: url(../img/forest-653448_1920.jpg); }
            .content_background:nth-child(3) { background-image: url(../img/secret-3120483_1920.jpg); }

            .info { font-size: 18px; text-align: left; z-index: 1; color: rgba(255, 255, 255, 0.649); line-height: 30px; padding: 400px 0px 0px 0px ; user-select: none; }
                .info > .info_head { font-size: 68px; font-weight: bold; color: white;  }
                .info > .info_text { padding-top: 80px; }

            .mouse_icon { width: auto;; height: auto;  position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%); z-index: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;  animation: mouse_animation alternate infinite 1s; }
                #mouse { font-size: 40px; color: white; }
                @keyframes mouse_animation {
                    0% { transform: translateY(0px); opacity: .3; }
                    100% { transform: translateY(20px); opacity: .8; }
                }
                
                #mouse_arrow { font-size: 16px; color: white; padding-top: 0px; }

        #menu1 {width: 100%; height: 100%; text-align: left; position: relative; overflow: hidden; }
            #menu_background { width: 100%; height: 100%; position: absolute; overflow: hidden; filter: brightness(.3); }
            #circle { width: 100%; height: 100%; background: linear-gradient(90deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.13) ,rgba(0, 0, 0, 0)); position: absolute; left: 0%; z-index: 2; }
            .info_box { height: 50%; margin: 400px auto auto auto; color: white; z-index: 3; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }
                .menu_head { font-size: 68px; font-weight: bold; padding-bottom: 80px; margin: 0px; }
                .menu1_info { font-size: 18px; opacity: .5; margin: 0px; }

        #menu2 { width: 100%; height: 100%; overflow: hidden; }
                .menu2_background { width: 100%; height: 100%; background: url(../img/forest-5652944_1920.jpg); filter: brightness(.3); position: absolute; z-index: 0; top: 0px; left: 0px; }
                .menu2_head { font-size: 68px; color: white; font-weight: bold; padding: 0px; margin: 0px; position: absolute; top: 125px; left: 50%; transform: translate(-50%, 0px); text-align: center; }
                .menu2_span { font-size: 18px; opacity: 0.8; padding-top: 20px; line-height: 30px; }
                .menu2_text_container { height: 80%; display: flex; justify-content: space-between; padding-top: 350px; position: relative; }
                    .item_box { width: 400px; height: 500px; box-shadow: 0px 0px 20px black, inset 0px 0px 3px rgb(7, 17, 5), inset 0px 0px 60px rgba(255, 255, 255, 0.075); overflow: hidden; transition: transform .5s; }
                    .item_box:nth-child(1) { border-radius: 30px 0px 0px 30px; }    
                    .item_box:nth-child(3) { border-radius: 0px 30px 30px 0px; }
                    .item_box:hover { transform: translateY(-20px); }
                    
                    .item_img_box { width: 100%; height: 225px; background: grey center center; background-size: cover; filter: brightness(.8); box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); }
                    #menu2_img1 { background-image: url(../img/mushrooms-5850099_1920.jpg); }
                    #menu2_img2 { background-image: url(../img/fallow-deer-6138214_1920.jpg); }
                    #menu2_img3 { background-image: url(../img/mushroom-4540020_1920.jpg); }

                    .item_text_box { width: 100%; height: calc(100% - 225px); color: white; padding: 80px 0px 0px 30px; }
                        .item_header { font-size: 30px; font-weight: bold; opacity: .9; }
                        .item_text { font-size: 16px; padding-top: 20px; opacity: .5; }
                        
        #menu3 { height: 100%; }


        footer { width: 100%; height: 100%; background-color: rgb(5, 24, 5); display: flex; justify-content: center; align-items: center; }
            .copyright { color: white; font-size: 16px; font-weight: bold; opacity: .5; user-select: none; }